@import "/homepage/css/variables.css";
@import "/homepage/css/basic.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

h1,
h2 {
  text-align: center;
}

h1 {
  padding-bottom: 5rem;
  padding-top: 2rem;
  font-size: var(--fsize-xlg);
}

h2 {
  padding-bottom: 3rem;
  font-size: var(--fsize-md);
}

p {
  width: 30rem;
  margin: auto;
  font-size: var(--fsize-sm);
  text-align: left;
  margin-bottom: 5rem;
}
form {
  max-width: 100%;
  margin: auto;
  width: 40rem;
}

.input {
  font-size: var(--fsize-md);
  padding: 1rem 2rem;
  display: block;
  width: 100%;
  color: white;
  background-color: #677679;
}

section {
  margin-bottom: 10rem;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  color: white;
}



.todo-list {
  width: 40rem;
  margin: 5rem auto;
  user-select: none;
  cursor: pointer;
}
.todo-list > li {
  background-color: #677679;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin-top: 1rem;
  cursor: pointer;
  position: relative;
}

.todo-list li.completed {
  color: #d5d5d5;
  text-decoration: line-through;
}

.btn {
  width: 2.4rem;
  height: 2.4rem;
  background-color: transparent;
  position: absolute;
  top: 0.9rem;
  right: 1.5rem;
  /* display: none; */
  opacity: 0;
  transition: opacity 0.2s ease-in;
}

.btn > i {
  color: white;
  font-size: 2rem;
}

li:hover .btn {
  /* display: block; */
  opacity: 1;
}

.over {
  background-color: #424B4D !important;
}

